@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat/Montserrat-Light.ttf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat/Montserrat-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: url(fonts/Raleway/static/Raleway-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Raleway";
  src: url(fonts/Raleway/static/Raleway-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
  font-weight: 300;
}

.header {
  background-image: url(img/bg_header.png);
  padding: 5px calc(50% - 1275px / 2);
  background-repeat: repeat-x;
  position: relative;
}

.header .logo {
  padding-top: 39px;
  margin-right: 352px;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 58px;
}

.header .nav__item {
  list-style-type: none;
  padding-right: 25px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 17px;
  white-space: nowrap;
}

.header .nav__item:hover {
  color: #C7B299;
}

.header .nav__a {
  text-decoration: none;
}

.header .nav__a:last-child {
  padding-right: 54px;
}

.header .nav__icons:first-child {
  padding-right: 30px;
}

.header .nav__socials {
  padding-top: 54px;
  white-space: nowrap;
}

.header .header__slider-left {
  position: absolute;
  top: 451px;
  border: none;
  background: none;
  left: 161px;
  cursor: pointer;
}

.header .header__slider-left:focus {
  outline: none;
}

.header .header__slider-left:hover {
  background-color: gray;
}

.header .header__slider-right {
  position: absolute;
  cursor: pointer;
  top: 451px;
  border: none;
  background: none;
  right: 160px;
}

.header .header__slider-right:focus {
  outline: none;
}

.header .header__slider-right:hover {
  background-color: gray;
}

.header .header__content {
  margin-top: 315px;
  text-align: center;
}

.header .header__content .header__h2 {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
  text-align: center;
}

.header .header__content .header__h1 {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 52px;
  line-height: 61px;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 4px;
}

.header .header__content .header__p {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 39px;
}

.header .header__content .header__btn {
  background: #988574;
  border-radius: 3px;
  width: 170px;
  cursor: pointer;
  height: 53px;
  border: none;
  color: #FFFFFF;
  font-family: "Roboto";
  font-weight: 400;
  text-align: center;
  margin-bottom: 312px;
}

.header .header__content .header__btn:active {
  outline: none;
}

.header .header__content .header__btn:focus {
  outline: none;
}

.header .header__pagination {
  padding-bottom: 49px;
  max-width: 124px;
  margin: 0 auto;
}

.header .header__pagination .header__slider {
  width: 10px;
  cursor: pointer;
  height: 10px;
  white-space: nowrap;
  border: none;
  border-radius: 15px;
  margin-right: 8px;
  background: rgba(255, 255, 255, 0.5);
}

.header .header__pagination .header__slider:hover {
  border: 1px solid #988574;
}

.header .header__pagination .header__slider:last-child {
  margin: 0;
}

.header .header__pagination .slider-2 {
  width: 15px;
  height: 15px;
  border: 1px solid #D3C1AD;
  background: none;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FFFFFF;
  padding: 5px calc(50% - 1170px / 2);
}

.services .services__card {
  margin-top: 90px;
  text-align: center;
  margin-bottom: 30px;
}

.services .services__card:hover {
  color: #c7b299;
  cursor: pointer;
}

.services .services__card .services__h3 {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #555555;
  margin-bottom: 20px;
}

.services .services__card .services__p {
  font-size: 14px;
  line-height: 17px;
  max-width: 270px;
  margin-bottom: 30px;
}

.services .services__card .services__hr {
  width: 70px;
  height: 3px;
  margin: 0 auto;
  background-color: #f1eee9;
  border: none;
  margin-bottom: 87px;
}

.services .services__card .services__hr:hover {
  background-color: #C7B199;
}

.services__card:hover .services__h3 {
  color: #C7B299;
}

.services__card:hover .special-img {
  fill: #C7B299;
}

.services__card:hover .services__hr {
  background-color: #C7B299;
}

.waxom {
  text-align: center;
  background-color: #E5E5E5;
}

.waxom .waxom__h2 {
  color: #555555;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  padding-top: 80px;
}

.waxom .waxom__p {
  color: #8C8C8C;
  line-height: 20px;
  font-size: 16px;
  max-width: 770px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 42px;
}

.waxom .waxom__background {
  background-image: url(img/browsers.png);
  padding-bottom: 483px;
  max-width: 1232px;
  margin: 0 auto;
}

.purchase {
  background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211b19 0%, #4E3326 100%);
  padding: 5px calc(50% - 1232px / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.purchase .purchase__h2 {
  padding-top: 44px;
  padding-bottom: 6px;
  font-family: "Raleway";
  font-size: 28px;
  line-height: 33px;
  color: #FFFFFF;
}

.purchase .purchase__p {
  color: #615855;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 45px;
}

.purchase .purchase__btn {
  width: 170px;
  text-align: center;
  margin-top: 56px;
  margin-bottom: 41px;
  padding-top: 19px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background-color: #988574;
  padding-bottom: 18px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.purchase .purchase__btn:focus {
  outline: none;
}

.latest {
  max-width: 1170px;
  text-align: center;
  margin: 0 auto;
}

.latest .latest__btn {
  background-color: #988574;
  border-radius: 3px;
  padding-top: 19px;
  border: none;
  padding-bottom: 18px;
  padding-left: 46px;
  padding-right: 47px;
  color: #FFFFFF;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 33px;
  cursor: pointer;
}

.latest .latest__btn:focus {
  outline: none;
}

.latest .latest__h2 {
  margin-top: 61px;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  color: #555555;
  margin-bottom: 9px;
}

.latest .latest__p {
  font-size: 16px;
  line-height: 20px;
  color: #8C8C8C;
  padding-bottom: 27px;
  max-width: 802px;
  margin: 0 auto;
}

.latest .latest__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 590px;
  margin: 0 auto;
  margin-bottom: 66px;
}

.latest .latest__btn-item {
  margin-right: 10px;
  border: none;
  cursor: pointer;
  border: 1px solid #EBEBEB;
  border-radius: 3px;
  font-family: "Montserrat";
  font-weight: 300;
  padding-top: 7px;
  padding-bottom: 8px;
  background-color: #FFFFFF;
  padding-left: 20px;
  padding-right: 20px;
  color: #8C8C8C;
  font-size: 14px;
  line-height: 17px;
  white-space: nowrap;
}

.latest .latest__btn-item:focus {
  outline: none;
  background-color: #998575;
  border: 1px solid #EBEBEB;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 17px;
}

.latest .latest__btn-item:last-child {
  margin-right: 0px;
}

.latest .latest__articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.latest .latest__articles .latest__article {
  background-color: #FBFAF8;
  margin-bottom: 69px;
}

.latest .latest__articles .latest__article:hover {
  background-color: #352F2D;
  margin-top: 3px;
}

.latest .latest__articles .latest__img {
  margin-bottom: 26px;
}

.latest .latest__articles .latest__h3 {
  color: #C7B299;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: left;
  padding-left: 23px;
  margin-bottom: 8px;
}

.latest .latest__articles .latest__h3:hover {
  color: #FFFFFF;
}

.latest .latest__articles .latest__p {
  color: #D1D1D1;
  font-size: 14px;
  line-height: 17px;
  text-align-last: left;
  padding-left: 23px;
  margin-bottom: 26px;
}

.latest .latest__articles .latest__p:hover {
  color: #C7B299;
}

.video {
  background: url(img/bg_video_presentation.png);
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
}

.video .video__img {
  margin-top: 248px;
  cursor: pointer;
  margin-bottom: 31px;
}

.video .video__h2 {
  font-family: "Raleway";
  font-weight: 500;
  color: #FFFFFF;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 18px;
}

.video .video__p {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  max-width: 570px;
  margin: 0 auto;
  margin-bottom: 18px;
}

.video .video__time {
  color: #C7B299;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 195px;
}

.mobile {
  padding: 0px calc(50% - 1157px / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mobile .mobile__bg {
  background: url(img/iphone.png);
  margin-top: 78px;
  background-repeat: no-repeat;
  width: 1350px;
  height: 616px;
}

.mobile .mobile__content {
  margin-top: 190px;
  margin-left: 64px;
}

.mobile .mobile__content .mobile__h2 {
  color: #555555;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 20px;
}

.mobile .mobile__content .mobile__p {
  color: #8C8C8C;
  font-size: 16px;
  line-height: 20px;
  width: 670px;
  margin-bottom: 49px;
}

.mobile .mobile__content .mobile__list {
  margin-left: 67px;
  list-style-type: none;
}

.mobile .mobile__content .mobile__list .mobile__item {
  font-size: 16px;
  line-height: 20px;
  color: #8C8C8C;
}

.counters {
  background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
  padding: 5px calc(50% - 786px / 2);
}

.counters .counters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  text-align: center;
}

.counters .counters__list .counters__item {
  padding-top: 37px;
}

.counters .counters__list .counters__item .counters__h2 {
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
  padding-top: 2pX;
  font-family: "Montserrat";
  font-weight: 300;
}

.counters .counters__list .counters__item .counters__p {
  font-size: 14px;
  line-height: 17px;
  color: #C7B299;
  padding-bottom: 15px;
}

.counters .counters__list .counters__item .counters__hr {
  width: 30px;
  margin: 0 auto;
  margin-bottom: 36px;
}

.resent {
  padding-top: 100px;
  width: 1280px;
  margin: 0 auto;
}

.resent .resent__h2 {
  font-family: "Raleway";
  font-weight: 600;
  color: #555555;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
}

.resent .resent__p {
  padding-top: 20px;
  font-size: 16px;
  line-height: 28px;
  width: 770px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
}

.resent .resent__cards {
  width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resent .resent__cards .resent__card:hover {
  background-color: #352F2D;
  cursor: pointer;
}

.resent .resent__cards .resent__card:hover .resent__h3 {
  color: #C7B299;
}

.resent .resent__cards .resent__card:hover .resent__p2 {
  color: #FFFFFF;
}

.resent .resent__cards .resent__card {
  margin-bottom: 54px;
  position: relative;
}

.resent .resent__cards .resent__card .resent__date {
  position: absolute;
  text-align: center;
  top: 20px;
  left: 20px;
}

.resent .resent__cards .resent__card .resent__date .data {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 20px;
  font-weight: 300;
  color: #ffffff;
  width: 50px;
  background-color: #363636;
  border-radius: 3px 3px 0 0;
  margin: 0 0 0 0;
  padding: 10px 0 10px 0;
  display: block;
}

.resent .resent__cards .resent__card .resent__date .day {
  margin: 0 0 0 0;
  padding: 5px 0 5px 0;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  width: 50px;
  background-color: #252525;
  border-radius: 0 0 3px 3px;
  display: block;
}

.resent .resent__cards .resent__card .resent__h3 {
  margin-top: 31px;
  margin-bottom: 22px;
  margin-left: 23px;
  font-family: "Raleway";
  font-weight: 500;
  color: #555555;
  font-size: 20px;
  line-height: 23px;
}

.resent .resent__cards .resent__card .resent__p2 {
  font-size: 14px;
  line-height: 22px;
  width: 311px;
  color: #000000;
  margin-left: 23px;
  margin-bottom: 17px;
}

.resent .resent__cards .resent__card .resent__read-more {
  color: #C7B299;
  font-size: 14px;
  line-height: 17px;
  margin-left: 23px;
  margin-bottom: 22px;
}

.resent .resent__cards .resent__card:hover .data {
  background-color: #C7B199;
}

.resent .resent__cards .resent__card:hover .day {
  background-color: #A48D71;
}

.resent .buttons {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 38px;
}

.resent .buttons .resent__btn-left {
  border: none;
  background: none;
  margin-right: 9px;
  cursor: pointer;
}

.resent .buttons .resent__btn-left:focus {
  outline: none;
}

.resent .buttons .resent__btn-right {
  border: none;
  background: none;
  margin-left: 9px;
  cursor: pointer;
}

.resent .buttons .resent__btn-right:focus {
  outline: none;
}

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("img/bg_partners.png");
  background-size: cover;
  padding: 140px 405px 140px 405px;
}

.partner-link:hover .partner-img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.partner-link:active {
  opacity: 0.67;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 375px 80px 375px;
  background-color: #191919;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.footer-element {
  margin: 0 0 0 0;
  max-width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-element1 {
  margin: 20px 0 0 0;
}

.footer .brand {
  margin: 0 0 30px 0;
}

.footer-text {
  margin: 0 0 30px 0;
  line-height: 24px;
  font-weight: 300;
  color: #555555;
}

.footer-link,
.footer-link:active {
  line-height: 20px;
  font-weight: 400;
  color: #d1d1d1;
  text-decoration: none;
}

.footer-link::after {
  margin: 0 0 0 10px;
  content: "";
  display: inline-block;
  width: 5px;
  height: 8px;
  background-image: url("img/link_arrow.svg");
  background-size: cover;
  opacity: 0;
}

.footer-link:hover {
  color: #00bff3;
}

.footer-link:hover::after {
  opacity: 1;
}

.footer-title {
  margin: 0 0 30px 0;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
}

.footer-post-link {
  margin: 0 0 20px 0;
  text-decoration: none;
  border-bottom: 2px solid #252525;
  padding: 0 0 20px 0;
}

.footer-post-subtitle {
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #363636;
  display: block;
}

.footer-post-text {
  line-height: 20px;
  font-weight: 300;
  color: #555555;
}

.footer-post-link:hover .footer-post-subtitle {
  color: #fff;
}

.footer-post-link:hover .footer-post-text {
  color: #c7b299;
}

.twitter-post {
  border-bottom: 2px solid #252525;
  width: 100%;
  margin: 0 0 15px 0;
  padding: 0 0 20px 0;
}

.twitter-post a,
.twitter-post a:active {
  color: #00bff3;
  text-decoration: none;
}

.twitter-post a:hover {
  color: #fff;
}

.twitter-post .footer-post-text {
  margin: 0 0 10px 0;
}

.footer-gallery-img {
  margin: 0 0 10px 0;
}

.footer-gallery-img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.links-block {
  padding: 45px 375px 50px 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #111111;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
}

.links-item-text,
.links-item-link,
.links-item-link:active,
.links-item-text:active {
  display: block;
  border-right: 1px solid #252525;
  padding: 0 10px 0 0;
  margin: 0 10px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #555555;
}

.links a:hover {
  color: #c7b299;
}

.links-item-link:last-child,
.links-item-text:last-child {
  border-right: none;
}

.brand-link,
.brand-link:active {
  color: #959595;
}
/*# sourceMappingURL=style.css.map */